/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Courier, monospace;
    font-size: 18px;
    line-height: 23px;
    text-size-adjust: none;
    color: rgb(26,88,167);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 18px 23px 18px 23px;
    max-width: 692px;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    text-decoration: underline;
}

button {
    margin: 9px 0;
    padding: 0 4px;
    font-size: 13px;
    width: 84px;
    height: 23px;
    cursor: pointer;
}

ul {
    list-style: none;
}

ol {
    list-style-type: disc;
    padding-left: 18px;
    margin-bottom: 18px;
}

h1, h2 {
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    padding-bottom: 18px;
}

.code {
    background-color: black;
    color: rgb(180,180,180);
    font-family: "Menlo", "Andale Mono", monospace;
    font-size: 16px;
    padding: 13px 16px 16px 16px;
    margin-bottom: 18px;
}

.inline-code {
    color: rgb(100,100,100);
    font-family: "Menlo", "Andale Mono", monospace;
    font-size: 16px;
}

/* HEADER */
header {
    padding-bottom: 36px;
}

/* DYNAMIC DATE */
#dynamic-date {
    padding-bottom: 36px;
    display: flex;
    flex-flow: column;
}

#dynamic-date span#countdown, #dynamic-date span#next-class-date {
    text-decoration: underline;
}

/* NAVIGATION */
nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    padding-bottom: 54px;
}

/* MAIN POSTS */
main {
    padding-bottom: 18px;
}

.post {
    padding-bottom: 36px;
}

.post a:link {
    background-color: rgb(255, 255, 219);
}

.post .alert {
    color: rgb(220,89,44);
}

.post .alert::before {
    content: '<!--';
}

.post .alert::after {
    content: '-->';
}

.post p, .post ul {
    padding-bottom: 18px;
}


